// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-read {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}

#notifications {
    left: 5px;
}

